/* 좌우 분할 테스트 */
.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.main_left {
    margin-top: 5%;
    margin-left: 10%;
    width: 37%;
}

.main_right {
    margin-top: 5%;
    margin-left: 3%;
    width: 37%;
}
